p {
  margin: 0;
  padding: 0;
}

/* Set background color and font styles */
body {
  background-color: #080808;
  font-family: Arial, sans-serif;
}

/* Style the heading */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

/* Style the paragraph */
p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.hero-image {
  background-image: url('./hero.jpg');
  background-size: cover;
  background-position: center;

  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* .hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 410px;

  background-color: rgba(0, 0, 0, 0.3);

} */


.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 30px;
  width: 300px;
  text-align: center;
}

.card h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.card p {
  padding: 10px;
}

nav {
  display: flex;

  flex-direction: row;
  /* Make the navigation bar horizontal */
  justify-content: right;
  /* Evenly distribute links */
  align-items: right;
  /* Align links vertically in the center */
  background-color: #080808;
  /* Light gray background */
  padding: 1rem 2rem;
  /* Add some padding for spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Subtle shadow effect */
  font-family: sans-serif;
  /* Use a modern sans-serif font */
}

nav li {
  list-style: none;
  /* Remove default bullet points */
  margin-left: 1rem;
  /* Add space between list items */
}

nav a {
  color: #333;
  /* Dark gray text color */
  text-decoration: none;
  /* Remove underline */
  transition: color 0.3s ease-in-out;
  /* Smooth hover effect */
}

nav a:hover {
  color: #007bff;
  /* Blue hover color */
}