<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        {% if current_user.is_authenticated and current_user.role == 'admin' %}
        <li><a href="{{ url_for('create_course') }}">Create Course</a></li>
        {% endif %} {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="hero-image">
      <h1>{{ heading }}</h1>
    </div>
    <div class="card-container">
      {% for i in range(3) %}
      <div class="row">
        {% for j in range(3) %}
        <div class="card">
          <h2>Card Title {{ i * 3 + j + 1 }}</h2>
          <img
            src="{{ url_for('static', filename='images/card_image_1.jpg') }}"
            alt="Card Image {{ i * 3 + j + 1 }}"
          />
          <p>Some example text for card {{ i * 3 + j + 1 }}.</p>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
