<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Upload File</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Upload a new File</h1>
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }} {{ form.file.label }} {{ form.file() }} {{
      form.submit() }}
    </form>
    <a href="{{ url_for('uploaded_files') }}">View uploaded files</a>
  </body>
</html>
